# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# experimental room!
lab/

# I think that dont need to copy node_modules cuz i use standard npm modules
node_modules/
